<h2 style="text-align: center;">Cadastro de marca de produto</h2>
<form class="row g-3" [formGroup]="marcaProdutoForm">
    <div class="col-2">
        <label for="id" class="form-label">ID:</label>
        <input type="number" class="form-control" id="id" name="id" placeholder="ID" formControlName="id" readonly>
    </div>
    <div class="col-10">
        <label for="nomeDesc" class="form-label">Nome da marca</label>
        <input type="text" maxlength="100" class="form-control" id="nomeDesc" name="nomeDesc" placeholder="Nome da marca" formControlName="nomeDesc" required>
        <div *ngIf="marcaProdutoForm.get('nomeDesc')?.errors" style="font-size: 10px; color: red;">
            *marca obrigatória
          </div>
    </div>
    <div class="col-12">
        <button type="submit" class="mat-elevation-z4" mat-flat-button color="primary" (click)="cadastrarProdutoMarca()" [disabled]="!marcaProdutoForm.valid">Salvar</button>
    </div>
</form>

<form class="row g-3">
    <label for="pesquisa" class="form-label">Pesquisar</label>
    <div class="col-10">
        <input type="text" #pesquisa (blur)="setPesquisa(pesquisa.value)"  class="form-control" id="pesquisa" name="pesquisa" placeholder="Nome da marca para pesquisar">
    </div>
    <div class="col-2">
        <button type="button" style="width: 80%;" class="mat-elevation-z4" mat-flat-button color="primary" (click)="pesquisar()">Pesquisar</button>
    </div>
</form>

<br>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Empresa</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let marca of marcas">
            <td>{{ marca.id }}</td>
            <td>{{ marca.nomeDesc }}</td>
            <td>{{ marca.empresa?.nome }}</td>
            <td>
                <button type="submit" class="mat-elevation-z4" mat-flat-button color="primary" (click)="editarMarcaProduto(marca)">Editar</button>
                <button type="submit" class="mat-elevation-z4" mat-flat-button color="warn" (click)="excluirMarcaProduto(marca)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="voltar()">Voltar</a>
    </li>
    <li class="page-item" *ngFor="let p of arrayNumber; let i = index">
      <a class="page-link" (click)="buscarPagina(i)">{{ i + 1 }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="proxima()">Próxima</a>
    </li>
  </ul>
</nav>

