<h2 style="text-align: center;">Cadastro de categoria de produto</h2>
<form class="row g-3" [formGroup]="categoriaProdutoForm">
    <div class="col-2">
        <label for="id" class="form-label">ID:</label>
        <input type="number" class="form-control" id="id" name="id" placeholder="ID" formControlName="id" readonly>
    </div>
    <div class="col-10">
        <label for="nomeDesc" class="form-label">Nome da categoria</label>
        <input type="text" maxlength="100" class="form-control" id="nomeDesc" name="nomeDesc" placeholder="Nome da categoria" formControlName="nomeDesc" required>
        <div *ngIf="categoriaProdutoForm.get('nomeDesc')?.errors" style="font-size: 10px; color: red;">
            *Categoria obrigatória
          </div>
    </div>
    <div class="col-12">
        <button type="submit" class="mat-elevation-z4" mat-flat-button color="primary" (click)="cadastrarProdutoCategoria()" [disabled]="!categoriaProdutoForm.valid">Salvar</button>
    </div>
</form>

<br>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Empresa</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of categorias">
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nomeDesc }}</td>
            <td>{{ categoria.empresa?.nome }}</td>
            <td>
                <button type="submit" class="mat-elevation-z4" mat-flat-button color="primary" (click)="editarCategoriaProduto(categoria)">Editar</button>
                <button type="submit" class="mat-elevation-z4" mat-flat-button color="warn" (click)="excluirCategoriaProduto(categoria)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

