<h2 style="text-align: center;">Cadastro de categoria de produto</h2>
<form class="row g-3" [formGroup]="categoriaProdutoForm">
    <div class="col-2">
        <label for="id" class="form-label">ID:</label>
        <input type="number" class="form-control" id="id" name="id" placeholder="ID" formControlName="id" readonly>
    </div>

    <div class="col-10">
        <label for="nomeDesc" class="form-label">Nome da categoria</label>
        <input type="text" maxlength="100" class="form-control" id="nomeDesc" name="nomeDesc" placeholder="Nome da categoria" formControlName="nomeDesc" required>
        <div *ngIf="categoriaProdutoForm.get('nomeDesc')?.errors" style="font-size: 10px; color: red;">
            *Categoria obrigatória
          </div>
    </div>

    <div class="col-12">
        <button style="margin-right: 10px" type="button" class="mat-elevation-z4" mat-flat-button color="primary" (click)="cadastrarProdutoCategoria()" [disabled]="!categoriaProdutoForm.valid">Salvar</button>
        <button type="button" class="mat-elevation-z4" mat-stroked-button color="primary" (click)="novo()">Limpar</button>
    </div>
</form>

<form class="row g-3">
    <label for="pesquisa" class="form-label">Pesquisar</label>
    <div class="col-10">
        <input type="text" #pesquisa (blur)="setPesquisa(pesquisa.value)"  class="form-control" id="pesquisa" name="pesquisa" placeholder="Nome da categoria para pesquisar">
    </div>
    <div class="col-2">
        <button type="button" style="width: 80%;" class="mat-elevation-z4" mat-flat-button color="primary" (click)="pesquisar()">Pesquisar</button>
    </div>
</form>

<br>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Empresa</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of categorias">
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nomeDesc }}</td>
            <td>{{ categoria.empresa?.nome }}</td>
            <td>
                <button type="button" class="mat-elevation-z4" mat-flat-button color="primary" (click)="editarCategoriaProduto(categoria)">Editar</button>
                <button type="button" class="mat-elevation-z4" mat-flat-button color="warn" (click)="excluirCategoriaProduto(categoria)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a href="#" onclick="return false;" class="page-link" (click)="voltar()">Voltar</a>
    </li>
    <li class="page-item" *ngFor="let p of arrayNumber; let i = index">
      <a href="#" onclick="return false;" class="page-link" (click)="buscarPagina(i)">{{ i + 1 }}</a>
    </li>
    <li class="page-item">
      <a href="#" onclick="return false;" class="page-link" (click)="proxima()">Próxima</a>
    </li>
  </ul>
</nav>

